@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e64343;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* I will steal ur kidneys */